body{
    color: hwb(350 46% 12%);
    background :hsl(0, 0%, 0%)
}

header{
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 32px; 
    color: palevioletred;


section{
    background-color: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}
}
chamada-texto{
margin-right: 5%;
} 
img{
    height: 200px;
}
